# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

nbproject/private/private.properties
/Assignment1/nbproject/private/
calculator/src/main/java/edu/csc413/calculator/.idea/workspace.xml
calculator/src/main/java/edu/csc413/calculator/.idea/vcs.xml
calculator/src/main/java/edu/csc413/calculator/.idea/misc.xml
calculator/src/main/java/edu/csc413/calculator/.idea/gradle.xml
calculator/src/main/java/edu/csc413/calculator/.gradle/buildOutputCleanup/outputFiles.bin
calculator/src/main/java/edu/csc413/calculator/.gradle/buildOutputCleanup/cache.properties
calculator/src/main/java/edu/csc413/calculator/.gradle/buildOutputCleanup/buildOutputCleanup.lock
calculator/src/main/java/edu/csc413/calculator/.gradle/4.8/taskHistory/taskHistory.lock
calculator/src/main/java/edu/csc413/calculator/.gradle/4.8/taskHistory/taskHistory.bin
calculator/.gradle/vcsWorkingDirs/gc.properties
calculator/.gradle/4.8/fileHashes/fileHashes.lock
calculator/.gradle/4.8/fileHashes/fileHashes.bin
calculator/.gradle/4.8/fileChanges/last-build.bin
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/libraries/gradle_wrapper1.xml
.idea/libraries/gradle_wrapper.xml
.gradle/vcsWorkingDirs/gc.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/4.8/taskHistory/taskHistory.lock
.gradle/4.8/taskHistory/taskHistory.bin
.gradle/4.8/fileHashes/fileHashes.lock
.gradle/4.8/fileHashes/fileHashes.bin
.gradle/4.8/fileChanges/last-build.bin
calculator/src/main/java/edu/csc413/calculator/gradle/wrapper/gradle-wrapper.properties
calculator/src/main/java/edu/csc413/calculator/gradlew
calculator/src/main/java/edu/csc413/calculator/gradlew.bat
calculator/src/main/main.iml
calculator/src/test/test.iml
gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat
calculator/.DS_Store
calculator/src/.DS_Store
documentation/.DS_Store
.DS_Store
